body,html{
    margin: 0;
    padding: 0;
  
   
}
#pl{
   
    width:100%;
    height:100%;
    object-fit: cover;
    position:absolute;
    z-index: -1;

}

nav{
    height: 2%;
    position: fixed;
    width: 100%;
    justify-content:flex-end;
    display: flex;
    gap: 3rem;
    background: rgba(31, 31, 32, 0.01);
    backdrop-filter: blur(100px);
    
    padding: 1rem 0rem; 
    
    
    top: 0%;
}
nav a{
    color: rgb(2, 27, 17);
    text-decoration: none;
    font-size: 1.5rem;
    align-self: center;
    font-weight: bold;
}
.info,.card{
    display: inline-block;
    margin: 2rem;
    width: 500px;
    height: 200px;
    color: rgb(3, 13, 1);
}


 
.container p{
    font-size: 1.5rem;
    color: rgb(1, 39, 18);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}
.about{
    
    padding: 4rem  0;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.card1{
    width: 15%;
    justify-content: center;
  
   

    background-color: rgb(120, 199, 169);
    padding: 5rem 4.5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(208, 7, 7, 0.1);
 
}
.card1 h2{
    font-size: 1.5rem;
    color: rgb(3, 36, 14);
    margin-bottom: 1rem;
}  
.card{
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 0rem;
    background-color: aquamarine;
    text-align: center;

}
.info p{
    font-size: 1.2rem;
}
.hero {
  position: relative;
  height: 100vh;     
  overflow: hidden;
}
.hero h1{
    font-size: 3rem;
    color: rgb(9, 136, 51);
    
    display: flex;
 
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    
}
.container1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(122, 174, 129, 0.838),rgba(4, 137, 24, 0.753));
    backdrop-filter: blur(10px);
}
.form.box{
    width: 400px;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem ;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    position: relative;

    
}
.form.box h2{
    text-align: center;
    color: rgb(2, 27, 17);
    font-size: larger;
}
.form.box input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #caf0ca;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
